page-editarperfil {
  h3{
    background: #ff6d00;
    padding: 10px 0;
    color: #fff;
  }
  a{
    padding: 15px 0 10px 0;
  }
  .centrar{
    text-align: center!important;
  }
  .text-input{
    text-align: right!important;
  }
}
