page-hacer-hitch {
  h5{
    margin: 1.6rem 0 1rem 0 !important;
    line-height: 1.2 !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }
  p{
    color: #9999b3 !important;
  }
  .changeAvatar .alert-wrapper {

    .alert-title {
      text-align: center;
    }
    .alert-message {
      text-align: center;
    }

    .alert-button-inner {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    

  }
}
