page-ofertas-privadas-copletas {
    ion-icon{
        font-size: 1.5em;
      }
      .inLine{
        display: inline-block;
      }

      .headerImage{
        height: 12em;
        width: 100%;
        object-fit: cover;
      }
}
